@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background: linear-gradient(45deg, #000 0%, #08204e 52%, #102d71 100%);
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
}

div{
    align-items: center;
    text-align: center;
    margin-top: 18%;
}

#title{
    margin-top: -230px;
    font-size: 50px;
    color: white;
}

button{
    margin-top: 20px;
    font-weight: 500;
    font-size: 25px;
    height: 60px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: white;
    background-image: -webkit-linear-gradient(45deg, #102d71 0%, #000000 52%, #102d71 100%);
    background-image: linear-gradient(45deg, #b95614 0%, #000000 52%, #102d71 100%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 500ms ease-in-out;
}

img#img-login{
    margin-bottom: -7px;
    height: 30px;
    width: 30px;
}

button:hover{
    background-position: 0;
}
p{
    font-weight: 400;
    font-size: 21px;
    margin-top: 15px;
}