@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins';
    font-weight: 600;
}
body{
    height: 130vh;
    background: linear-gradient(90deg, #5e35aa, #50289b, #50289b, #9638a9, #7c4ea7);
    background-size: 400% 400%;
    align-items: center;
    animation: backgroundTransition 7s ease-out infinite;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
}

@keyframes backgroundTransition {
    0% {
        background-position:  0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

.title{
    color: white;
    text-align: center;
    margin-top: 100px;
}

.list-img{
  cursor: pointer;
  transition: 1s;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}


.list-img:hover{
  transform: rotate(180deg);
}

.title{
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 5s steps(13) infinite ,
      blink 1000ms steps(13) infinite normal;
    border-right: 5px solid white;
  }

  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 48%;
    }
  }
  @keyframes blink {
    from {
      border-color: white;
    }
    to {
      border-color: transparent;
    }
  }

.cancelar{
  cursor: pointer;
  height: 35px;
  margin-top: -25px;
  margin-left: 45px;
}

.cancelar2{
  cursor: pointer;
}

.modal{
  margin-left: 33%;
}

#modal2{
  margin-left: 32%;
  margin-right: 50%;
}
.center{
  position: fixed;
  height: 200px;
  width: 500px;
  background-color: #9268d6ea;
  text-align: center;
  border-radius: 10px;
  margin-top: 180px;
  color: white;
  pointer-events: auto;
  animation: drop 1.5s ease;
}

.center2{
  position: fixed;
  height: 270px;
  width: 450px;
  background-color: #9268d6ea;
  text-align: center;
  border-radius: 10px;
  margin-top: 180px;
  color: white;
  pointer-events: auto;
  animation: drop 1.5s ease;
}

.img-trocarCor:hover{
  transform: rotate(45deg);
}

.forTrocarCor{
  margin-top: -110px;
  margin-left: 45px;
  cursor: pointer;
}

.trocarCor{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #6e48ac;
  box-shadow: 5px 0px 15px inset black, 5px 0px 5px rgba(0, 0, 0, 0.493);
  margin-top: -20px;
}

.normal:hover{
  letter-spacing: 0.5px;
}
.div-img-trocarCor{
  margin-top: -10px;
  margin-right: 45px;
  cursor: pointer;
}

.img-trocarCor{
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: .9s;
  position: none;
}

#modal{
  display: none;
}

#menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #33195c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: .4s;
}

.img-QrCode{
  height: 150px;
  border-radius: 20px;
}

.menu{
  background-color: #2512449c;
  width: 310px;
  height: 145px;
  margin-left: 68.5%;
  border-radius: 5px;
  margin-top: 15px;
}

#colorInfor{
  color: blueviolet;
}

#menuInfos{
  display: none;
  background-color: #2512449c;
}

hr{
  width: 280px;
  margin-left: -2px;
}

ul{
  list-style-type: none;
  color: white;
  margin-top: 5px;
  margin-left: -25px;
  font-size: 15px;
}

li, span{
  margin-bottom: 10px;
  font-weight: 400;
}

.marTop{
  margin-bottom: 10px;
}

.marBot{
  padding-top: 7px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: 400;
}

li{
  cursor: pointer;
}

li:hover{
  color: #3079b4;
}

.normal{
  width: 100px;
  height: 30px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 65%;
  background-color: #6e48ac;
  margin-top: -10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: .5s;
}

.normal:hover{
  background-color: #4e268fbd;
}

img{
    height: 30px;
    margin-top: 15px;
    margin-left: 3%;
}

.button-option{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: none;
  height: 200px;
  font-size: 25px;
  margin-top: 120px;
  margin-left: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
  color: white;
  font-weight: 400;
  cursor: pointer;
  background-color: #33195cbd;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
  border-radius: 7px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
  transition: .4s;
}

.button-option:hover{
  letter-spacing: 1px;
}

.button-option2{
  margin-top: 35px;
}

.button-option:hover{
    background-color: #251244;
}

div.buttons{
  margin-left: auto;
  margin-right: auto;
}

.h3{
  margin-top: 10px;
}

.img-button{
  height: 50px;
  transition: .5s;
}

@media(max-width: 1230px){
  .modal{
    margin-left: 28%;
  }
}

@media(max-width: 1000px){
  .normal{
    margin-left: 60%;
  }
  .menu{
    margin-left: 63%;
  }
  .modal{
    margin-left: 25%;
  }
  #modal2{
    margin-left: 25%;
  }
}

@media(max-width: 870px){
  .normal{
    margin-left: 50%;
  }
  .menu{
    margin-left: 53%;
  }
  .modal{
    margin-left: 16%;
  }
  #modal2{
    margin-left: 19%;
  }
}

@media(max-width: 730px){
  
  .button-option{
    width: 50%;
    margin-left: 25%;
  }
  body{
    height: 250vh;
  }
  .button-option{
    margin-bottom: -80px;
  }
  .button-option2{
    margin-top: 120px;
  }
  .modal{
    margin-left: 15%;
  }
  #modal2{
    margin-left: 19%;
  }
}

#modal2{
  display: none;
}

@media(max-width: 690px){
  .normal{
    margin-left: 40%;
  }
  .button-option{
    width: 80%;
    margin-left: 10%;
  }
  .menu{
    margin-left: 43%;
  }
  .modal{
    margin-left: 9%;
  }
  #modal2{
    margin-left: 16%;
  }
}

@media(max-width: 570px){
  .normal{
    margin-left: 30%;
  }
  .menu{
    margin-left: 33%;
  }
  .modal{
    margin-left: 2%;
  }
  #modal2{
    margin-left: 7%;
  }
}

@media(max-width: 600px){
  .button-option{
    width: 70%;
    margin-left: 15%;
  }
  #modal2{
    margin-left: 10%;
  }

}

@media(max-width: 530px){
  .center{
    width: 80%;
    height: 170px;
  }
  .center2{
    width: 80%;
    height: 270px;
  }
  .modal{
    margin-left: 10%;
  }
  .h3{
    margin-top: 5px;
  }
}

@media(max-width: 490px){
  .normal{
    margin-left: 20%;
  }
  .menu{
    margin-left: 23%;
  }
}

@media(max-width: 450px){
    .title{
        font-size: 35px;
    }
    .button-option{
        margin-left: 5%;
        height: 150px;
        width: 90%;
        margin-top: 85px;
    }
    .button-option2{
      margin-top: 85px;
    }
    body{
      height: 170vh;
    }
    .forTrocarCor{
      margin-top: -50px;
      margin-left: 25px;
    }
}

label{
  margin-top: 25px;
}

@media(max-width: 440px){
  .normal{
    margin-left: 15%;
  }
  .menu{
    margin-left: 17%;
  }
}

